.f-global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  box-shadow: rgba(0, 0, 0, 0.01) 0px -14px 28px,
    rgba(0, 0, 0, 0.05) 0px -10px 10px;
  background-color: #5a90bc;
  min-height: 35vh;
  color: #cccccc;
}

.f-double {
  margin: 0vw 9vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5vw;
}
.f-flex {
  display: flex;
  padding: 5vw 0vw;
  gap: 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.f-logo {
  margin-bottom: 1vw;
  display: flex;
  gap: 0.3vw;
  align-items: center;
}

.f-logo img {
  width: 4vw;
  filter: brightness(0) invert(1);
}

.f-logo-title {
  font-size: 2vw;
  color: white;
  font-weight: 600;
}

.f-logo .f-logo-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.9em;
}

.f-left {
  flex: 2;
}

.f-center {
  flex: 1;
  font-size: 0.9em;
}

.f-right {
  flex: 1;
  font-size: 0.9em;
}

.f-title {
  color: white;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  padding-bottom: 0.2vw;
}

.f-center a {
  color: lightblue;
  text-decoration: underline;
}

.f-center a:hover {
  text-decoration: none;
}

.f-right-social {
  display: flex;
  gap: 0.9vw;
  padding-top: 0.9vw;
  font-size: 1.5vw;
}
