.lag-main {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  height: 2vw;
}

.lag-flag {
  cursor: pointer;
  width: 1.5vw;
  height: 1.5vw;
}

.lag-notSelected {
  opacity: 0.2;
}

.lag-notSelected:hover {
  opacity: 0.9;
}
