.nm-main-day {
  cursor: pointer;
  width: 1.8vw;
  height: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nm-main-night {
  cursor: pointer;
  width: 1.8vw;
  height: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nm-main-day:hover {
  border: 2px solid darkorange;
  border-radius: 5px;
}

.nm-main-night:hover {
  border: 2px solid darkgray;
  border-radius: 5px;
}
