:root {
  --day-bg-color: white;
  --day-color: black;
  --night-bg-color: #cccccc;
  --night-color: white;
}

.global {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.02);
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
}

.global-night {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  background-color: #333333;
  color: #dddddd;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.a-title {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.a-paragraph {
  margin-bottom: 5px;
  font-size: 17px;
  text-justify: auto;
  text-align: justify;
}
